!!! 5
html(lang="en")
  head
    title nodechat disconnect 
  body
    #heading
      h1 nodechat disconnect
    #content
      p
        | You have been disconnected from nodechat because your client failed to authenticate. This seems to frequently happen with Firefox 3.6 and I am working on a fix. Meanwhile, please come back and visit with Firefox 4.0, Chrome, or... *shiver* IE. 
        br
        br
        a(href='/login') login

