!!! 5
html(lang='en')
  head
    title nodechat
    script(type='text/javascript', src='/lib/jquery-1.5.1.js')
    script(type='text/javascript', src='/lib/underscore.js')
    script(type='text/javascript', src='/lib/backbone.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/models/models.js')
    script(type='text/javascript', src='/controllers/controllers.js')
    script(type='text/javascript', src='/views/views.js')
    script
      //Fake out FF and IE8
      function log() {
          if (typeof console == 'undefined') {
              return;
          }
          console.log.apply(console, arguments);
      }

      $(document).ready(function () { 
        window.app = NodeChatController.init({port: !{locals.port}}); 
        $('input:text:first:visible').focus();  
        
      });
  body
    div(style='width:100%;float:left;clear:left')#content
      div(style='float:right')#help
        p @user to send direct messages
          br
          | #mashtag to subscribe to a topic
          br
          | -mashtag to unsubscribe 
          br
          a(href='/logout') logout
      h1(style='margin-top:0px') nodechat
      div(style='float:left')
        span#user_count 0
        | users online: 
      div(style='float:left;margin-left:10px;')#user_list
      p(style='float:left;clear:left;')
        label You are connected as: 
          = locals.name

      div(style='float:left;width:100%')
        div(style='width:40%; float:right; overflow:hidden; word-wrap: break-word;')
          p
            | Super Secret Chat Messages (@)
            #direct_list
          p
            | Mashtags
            div(style='float:left')#mashtag_list
            div(style='float:left;clear:both')#mashtag_chat_list
        div(style='width:40%;float:left;')#chat_list
          p
            | Fun Chat Messages
        div(style='float:left;width:50%;clear:both;')
          form(method='post', action='#', onsubmit='return false')#messageForm
            p
              label Message: 
              br
              input(type='text', name='message', size='100')#messageBox
              input(type='submit', value='send')

