!!! 5
html(lang="en")
  head
    title nodechat
    script(type="text/javascript", src="/lib/jquery-1.5.1.js")
    script(type="text/javascript", src="/lib/underscore.js")
    script(type="text/javascript", src="/lib/backbone.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/models/models.js")
    script(type="text/javascript", src="/controllers/controllers.js")
    script(type="text/javascript", src="/views/views.js")
    script(type="text/javascript", src="/nodechat.js")
  body
    #heading
      h1 nodechat
    #content
      p 
        | connected clients
        span#client_count 0
      p
        label You are connect as: 
          = locals.name

      div(style='float:left;width:100%')
        div(style='width:40%; float:right; overflow:hidden; word-wrap: break-word;')
          p
            | Secret Chats Messages (@)
            #direct_list
          p
            | Mashtags
            #mashtag_list
            br
            #mashtag_chat_list
        div(style='width:40%;float:left;')#chat_list
          p
            | Fun Chat Messages
      div(style='float:left;width:100%;')
        form(method="post", action="#", onsubmit="return false")#messageForm
          p
            label Message: 
            br
            input(type='text', name='message', size='140')
            input(type='submit', value='send')

