body {
  font: 12px / 1.3 "Lucida Grande", Arial, sans-serif;
}
h1 {
  margin-top: 0px;
  float: left;
}
#version {
  margin-top: 20px;
  margin-left: 4px;
  font-size: 7px;
  float: left;
}
#content {
  width: 100%;
  float: left;
  clear: left;
}
.topic {
  float: left;
  padding: 2px 5px 2px 5px;
  border: solid 1px #808080;
  margin-right: 10px;
  margin-bottom: 3px;
  border-radius: 4px;
}
#user_list,
.user_model {
  float: left;
}
.user_model {
  margin-left: 5px;
}
#logon_name,
#topic_list,
#status_box {
  float: left;
  clear: left;
}
.selected_topic {
  background: #ebebec;
  border: solid 1px #808080;
}
#box_title {
  font-weight: bold;
  margin-bottom: 2px;
}
#chat_box,
#message_box,
#box_title {
  float: left;
  clear: left;
  width: 100%;
}
#chat_list {
  height: 400px;
  overflow-y: scroll;
  border: solid #808080 1px;
  width: 100%;
}
#message_field {
  width: 99%;
  border: solid #808080 1px;
}
#message_send_button {
  display: none;
}
#global_topic_box {
  float: left;
  width: 70%;
}
#global_topic_list {
  float: left;
}
#topic_list {
  float: left;
}
#disconnectMessage {
  margin-top: 5px;
  color: #f00;
  display: none;
}
#help {
  float: right;
}
form input {
  padding: 5px;
  border: 1px;
}
